body {
    font-family: "Apple Garamond", serif;
    background: repeating-linear-gradient(90deg,
            #382D29,
            #382D29 10px,
            #463933 10px,
            #463933 20px);
    margin: 0;
    padding: 30px;
    text-align: center;
}

h1 {
    font-family: "Beautiful Maples", cursive;
    text-align: center;
    color: #FFB7D5;
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    font-family: "Beautiful Maples", cursive;
    text-align: left;
    color: #3B2A22;
    font-size: 32px;
    margin: 0;
}

p,
h3 {
    font-family: "Arial Narrow", sans-serif;
}

h4 {
    font-family: "Arial Narrow", sans-serif;
    font-size: 18px;
    margin: 0;
}

h5 {
    font-family: "Beautiful Maples", cursive;
    font-size: 30px;
    text-align:center;
    margin: 0;
}

li,
td,
th,
label {
    font-family: "Apple Garamond", serif;
}

.profil {
    width: 600px;
    max-width: 90%;
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

.profil img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 8px solid #FFB7D5;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px auto;
}

.depart {
    background-color: #FFF9B7;
    color: #CE1669;
    text-align: center;
    padding: 6px 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.bio {
    background-color: #FFB7D5;
    color: #3B2A22;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #DD85AA;
    text-align: center;
    font-size: 23px;
}

.bio a {
    color: #CE1669;
}

.container {
    width: 600px;
    max-width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    text-align: center;
}

.schedule {
    width: auto;
    margin: 0 0 20px 0;
    background-color: #FFF9B7;
    padding: 15px;
    border: 3px solid #F4EC8E;
    border-radius: 20px;
    text-align: auto;
}

.jadwal {
    width: auto;
    margin: 0;
    background-color: #FFB7D5;
    border: 4px solid #DD85AA;
}
table {
    widht: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 3px solid #DD85AA;
    padding: 15px;
    text-align: center;
    color: #3B2A22;
}

th {
    font-size: 15px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

td {
    font-size: 18px;
    font-family: "Arial", sans-serif;
}


.hobi {
    width: auto;
    margin: 0 0 20px 0;
    background-color: #FFF9B7;
    padding: 15px;
    border: 3px solid #F4EC8E;
    border-radius: 20px;
    text-align: auto;
}

.list {
    width: auto;
    height: 165px;
    margin: 0;
    background-color: #FFB7D5;
    padding: 15px;
    border: 7px solid #DD85AA;
    text-align: left;
    font-size: 25px;
}

.professional{
    width: 600px;
    max-width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: #FFF9B7;
    color: #3B2A22;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #F4EC8E;
    text-align: left;
}


.credit{
    max-width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: #FFB7D5;
    color: #3B2A22;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #DD85AA;
    text-align: left;

}

.music{
    width: 600px;
    max-width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: #FFF9B7;
    color: #3B2A22;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #F4EC8E;
    text-align:left;

}

.contact{
    width: 600px;
    max-width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: #FFB7D5;
    color: #3B2A22;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #DD85AA;
    text-align:left;

}